.collapse-btn {
	cursor: pointer;
	color: rgb(87, 150, 251);
	display: flex;
	align-items: center;
	font-weight: 500;
}
.collapse-btn .icon {
	font-size: 1.3em;
	margin-left: 15px;
	color: rgb(25, 226, 112);
}
