.food-area nav li {
	color: black;
	cursor: pointer;
	font-weight: 600;
}
.food-area nav .active {
	color: red;
}
.food-area nav .active::after {
	content: "";
	width: 80%;
	margin: 10px auto;
	height: 1px;
	background-color: rgb(255, 69, 101);
	display: block;
}
.food-area .card {
	border: none;
}
.food-area .card-img-top {
	width: 60%;
	display: block;
	padding-top: 10px;
	margin: 0 auto;
}
.food-area div > a {
	color: #000;
}
.food-area div > a:hover {
	text-decoration: none;
}
.food-area .card:hover {
	box-shadow: 0 5px 13px 0px rgb(210, 210, 210);
}
