.features .card {
	border: none;
	padding: 5px;
}

.features .card:hover {
	box-shadow: 0px 7px 10px rgb(210, 210, 210);
	border-radius: 15px;
}

.header-text::after {
	content: "";
	width: 230px;
	margin: 7px auto;
	height: 2px;
	background-color: rgb(255, 69, 101);
	display: block;
}
