h1,
h2,
h3,
h4,
h5,
li,
a {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

h5,
h3 {
	font-weight: 600;
}

.btn-rounded {
	border-radius: 25px;
	color: white;
	background-color: rgb(255, 69, 101);
	border: none;
	padding-right: 20px;
	padding-left: 20px;
}

a:hover {
	text-decoration: none;
	color: #ff4565;
}

* {
	transition: .2s all ease-in-out;
}

html {
	scroll-behavior: smooth;
}
